<a href="https://colab.research.google.com/github/virginmohito/Machine-Learning-Bootcamp/blob/main/QnA_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 13.12.22

In [ ]:
#1

In [ ]:
a= input("write first number:")
b= input ("write second number:")
c= int(a) + int(b)
print(c)

In [ ]:
#2

In [ ]:
R=int(input("Enter radius of circle:"))
C=2*3.14*R
A=3.14*(R**2)
print("Circumference:",C, " and Area:", A)

Enter radius of circle:4
Circumference: 25.12  and Area: 50.24

In [ ]:
#3

In [ ]:
RN=int(input("Enter Roll number:"))
G=int(input("Enter grade:"))
P=int(input("Enter Percentage:"))
print("Your roll number is:",RN,
      " and Your grade is:",G,
      " and Your percentage is:",P,)

Enter Roll number:430
Enter grade:30
Enter Percentage:40
Your roll number is: 430  and Your grade is: 30  and Your percentage is: 40

In [ ]:
#4

In [ ]:
=input("write your name:")
b=int(input("Write your age:"))
c=100-b
d=2022+c
print("name:",a," and year",d)

In [ ]:
#5

In [ ]:
a=input("First name:")
b=input("Last name:")
c=a[::-1]
d=b[::-1]
print(c,d)

First name:Mohit
Last name:Gupta
tihoM atpuG

In [ ]:
#15.12.2022

# 15.12.22

In [ ]:
#1

In [2]:
num=int(input("Write a number:"))
if (num)%2==0:
  print("Your number is even.")
else:
  print("Your number is odd.")

Write a number:56789
Your number is odd.

In [ ]:
#2

In [4]:
char=input("Write your character: ")
if 'A'<(char)<'Z':
  print('Your character is CAPITAL.')
else:
  print('Your character is small.')

Write your character: a
Your character is small.

In [5]:
#3

In [22]:
sym=input('Write your character: ')
ch=sym[0]
if "A"<=ch<="Z":
  print("Your character is CAPITAL.")
elif "a"<=ch<="z":
    print("Your characer is small.")
elif  "0"<=ch<="9":
    print("Your characer is a number.")
else:
  print("Your chracter is a symbol.")

Write your character: a
Your characer is small.

In [ ]:
#4

In [36]:
n1=int((input("Write number :")))
n2=int((input("Write number :")))
n3=int((input("Write number :")))
if n1>n2:
  if n1>n3:
    print("n1 is the greatest number.")
elif n2>n1:
  if n2>n3:
    print("n2 is the greatest number.")
else:
    print("n3 is the greatest number.")

Write number :40
Write number :80
Write number :50
n2 is the greatest number.

In [37]:
#5

In [47]:
year=int(input("Write a year:"))
if year%4==0:
  if year%100==0:
    print("Your entry is a leap year.")
elif year%400==0:
    print("Your entry is a leap year.")
else:
    print("Your entry is not a leap year.")

Write a year:1997
Your entry is not a leap year.