<a href="https://colab.research.google.com/github/virginmohito/Machine-Learning-Bootcamp/blob/main/QnA_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#13.12.2022

In [ ]:
#1

In [ ]:
a= input("write first number:")
b= input ("write second number:")
c= int(a) + int(b)
print(c)

In [ ]:
#2

In [ ]:
R=int(input("Enter radius of circle:"))
C=2*3.14*R
A=3.14*(R**2)
print("Circumference:",C, " and Area:", A)

Enter radius of circle:4
Circumference: 25.12  and Area: 50.24

In [ ]:
#3

In [ ]:
RN=int(input("Enter Roll number:"))
G=int(input("Enter grade:"))
P=int(input("Enter Percentage:"))
print("Your roll number is:",RN,
      " and Your grade is:",G,
      " and Your percentage is:",P,)

Enter Roll number:430
Enter grade:30
Enter Percentage:40
Your roll number is: 430  and Your grade is: 30  and Your percentage is: 40

In [ ]:
#4

In [ ]:
=input("write your name:")
b=int(input("Write your age:"))
c=100-b
d=2022+c
print("name:",a," and year",d)

In [ ]:
#5

In [ ]:
a=input("First name:")
b=input("Last name:")
c=a[::-1]
d=b[::-1]
print(c,d)

First name:Mohit
Last name:Gupta
tihoM atpuG

In [ ]:
# 15.12.2022

In [ ]:
#1

In [ ]:
num=int(input("Write a number:"))
if (num)%2==0:
  print("Your number is even.")
else:
  print("Your number is odd.")

Write a number:56789
Your number is odd.

In [ ]:
#2

In [ ]:
char=input("Write your character: ")
if 'A'<(char)<'Z':
  print('Your character is CAPITAL.')
else:
  print('Your character is small.')

Write your character: h
Your character is small.

In [ ]:
#3

In [ ]:
sym=input('Write your character: ')
ch=sym[0]
if "A"<=ch<="Z":
  print("Your character is CAPITAL.")
elif "a"<=ch<="z":
    print("Your characer is small.")
elif  "0"<=ch<="9":
    print("Your characer is a number.")
else:
  print("Your chracter is a symbol.")

Write your character: H
Your character is CAPITAL.

In [ ]:
#4

In [ ]:
n1=int((input("Write number :")))
n2=int((input("Write number :")))
n3=int((input("Write number :")))
if n1>n2:
  if n1>n3:
    print("n1 is the greatest number.")
elif n2>n1:
  if n2>n3:
    print("n2 is the greatest number.")
else:
    print("n3 is the greatest number.")

Write number :30
Write number :20
Write number :10
n1 is the greatest number.

In [ ]:
#5

In [ ]:
year=int(input("Write a year:"))
if year%4==0:
  if year%100==0:
    print("Your entry is a leap year.")
elif year%400==0:
    print("Your entry is a leap year.")
else:
    print("Your entry is not a leap year.")

Write a year:300403321
Your entry is not a leap year.

In [ ]:
#6

In [ ]:
import random
r=random.randint(1,100)
a=int(input("Write your guess:"))
while a!=r:
  if a<=0:
    print("Terminated. The answer was:", r)
    break
  elif a<r:
    print("Your guess was too low.")
    a=int(input("Enter guess again:"))
  elif a>r:
    print("Your guess was too high.")
    a=int(input("Enter guess again:"))
  else:
    print("Your guess was correct.")

Write your guess:30
Your guess was too high.
Enter guess again:-2
Terminated. The answer was: 19

In [ ]:
#7

In [ ]:
n=input("enter a string:")
a=0
while(a<len(n)):
    if n[a]!='a' and n[a]!='e' and n[a]!='i' and n[a]!='o' and n[a]!='u':
        print(n[a])
    a+=1

In [ ]:
#8

In [ ]:
num=int(input("Write a number:"))
sum=0
while num!=0:
  sum=sum+num
  num=int(input("Write a number:"))
print('The sum of the digits entered is:', sum)

Write a number:30
Write a number:30
Write a number:0
The sum of the digits entered is: 60

In [ ]:
num=int
sum=0
while num!=0:
  num=int(input("Write a number:"))
  if num<0:
    print("Ignored.")
    continue
  sum=sum+num
else:
 print('The sum of the digits entered is:', sum)

Write a number:98
Write a number:98
Write a number:-1
Ignored.
Write a number:-8
Ignored.
Write a number:90
Write a number:0
The sum of the digits entered is: 286

In [ ]:
#9

In [ ]:
alph=input("Write your string:")
x=str
vow=['a','e','i','o','u']
for x in alph:
  if x not in vow:
   print(x)

Write your string:mohit gupta
m
h
t

g
p
t

In [ ]:
#10

In [10]:
n=int(input("Write your integer:"))
total=0
for x in range(1,n+1):
  total=total+x
print("The sum of numbers from 1 to {} is {}.".format(n, total))

Write your integer:90
The sum of numbers from 1 to 90 is 4095.

In [46]:
#11

In [48]:
n=int(input("Write your integer:"))
total=1
for x in range(1,n+1):
  total=total*x
print("The factorial of numbers from 1 to {} is {}.".format(n, total))

Write your integer:5
The factorial of numbers from 1 to 5 is 120.

In [ ]:
#12

In [40]:
sym1=("**","**","**","**")
sym2=("*")
for x in sym1:
  print(x, end="")
  for y in sym2:
      print(y)

***
***
***
***

In [51]:
for c in range(1,5):
  print("*"*3)

***
***
***
***

In [ ]:
#13

In [89]:
for j in range(4):
  for k in range(j+1):
    print("*", end="")
  print("")

*
**
***
****

In [ ]:
#14

In [92]:
for j in range(3,-1,-1):
  for k in range(j+1):
    print("*", end="")
  print("")

****
***
**
*

In [ ]:
#15

In [12]:
n=int
while n!=0:
  n=int(input("Write a number:"))
  for n in range(1,n+1):
      print(n)
else:
  print('Loop ended.')

Write a number:5
1
2
3
4
5
Write a number:10
1
2
3
4
5
6
7
8
9
10
Write a number:0
Loop ended.